@import url("https://fonts.googleapis.com/css2?family=Monda&display=swap");

:root {
  --mainFontColor: #dfbfff;
}
* {
  font-family: "Monda", sans-serif;
}
body {
  color: var(--mainFontColor);
}
.faqPage {
  text-align: center;
  color: rgba(223, 191, 255, 1);
  display: grid;
  place-items: center;
  grid-gap: 10px;
  width: 100vw;
}
.faqPage h1 {
  font-size: 3.6rem;
  text-align: center;
  font-size: 64px;
}

.faqPage div h2 {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-family: "Monda", sans-serif;
}

.faqPage .faq-question-answer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faqPage > div > p {
  color: rgba(146, 183, 255, 1);
  font-size: 20px;
  text-align: center;
  padding: 10px 25%;
}
