/* Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Monda&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}
:root {
  --blurValue: 5px;
  --mainFontColor: #dfbfff;
}

/* SCHEDULE SECTION */
.scheduleTittle {
  font-size: 44px;
  font-family: "Monda";
  text-align: center;
  color: #debdff;
}
.calenderVector {
  position: absolute;
  width: max-content;
  top: 60%;
  left: -120px;
  transform: rotate(10deg);
}
.calenderVector img {
  width: 160px;
  height: 160px;
}
.scheduleSection {
  background-image: url("/assets/Images/scheduleSection.svg");
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  color: white;
  height: calc(100vh - 150px);
  position: relative;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
}
.container {
  min-height: calc(100vh - 100px);
  width: 100%;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  font-family: "Poppins", sans-serif;
}
.timeline ul {
  list-style: none;
}

.timelineContent {
  padding: 20px;
  color: white;
  background: rgba(237, 237, 237, 0.29);
  border: 1px solid rgba(255, 255, 255, 0.19);
  box-sizing: border-box;
  box-shadow: 8px 7px 4px rgba(0, 0, 0, 0.08),
    -3px -4px 8px 1px rgba(255, 255, 255, 0.13);
  border-radius: 15px 15px 15px 0px;
  backdrop-filter: blur(var(--blurValue));
  -webkit-backdrop-filter: blur(var(--blurValue));

  margin-bottom: 10px;
}
.timeline ul li:last-child {
  margin-bottom: 0;
}
.timelineContent h1 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}
.timelineContent p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 100;
  margin-bottom: 10px;
  text-align: justify;
}
.knowMoreButton {
  background-color: rgba(147, 8, 196, 0.94);
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  border-radius: 10px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}
.timelineContent .date {
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
@media only screen and (min-width: 768px) {
  .scheduleSection {
    height: calc(100vh - 170px);
  }
  .scheduleTittle {
    font-size: 64px;
  }
  .calenderVector {
    left: -160px;
  }
  .calenderVector img {
    width: 210px;
    height: 210px;
  }
  .timeline::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 2px;
    background: gray;
  }
  .timeline ul li {
    width: 50%;
    margin-bottom: 50px;
    position: relative;
  }
  .timeline ul li:nth-child(odd) {
    border-radius: 0 10px 10px 10px;
    transform: translateX(70px);
    float: right;
    clear: left;
  }
  .timeline ul li:nth-child(even) {
    border-radius: 10px 0 10px 10px;
    float: left;
    clear: right;
    transform: translateX(-70px);
  }
  .timeline ul li::after {
    content: "";
    position: absolute;
    top: 0;
    height: 15px;
    width: 15px;
    background-color: hsl(120, 100%, 49%);
    border-radius: 50px;
  }
  .timeline ul li:nth-child(2)::after {
    animation: statusActive 1s linear infinite alternate;
  }
  .timeline ul li:nth-child(3)::after {
    background-color: hsl(0, 0%, 47%);
  }
  .timeline ul li:nth-child(odd)::after {
    transform: translate(-50%, -50%);
    left: -70px;
  }
  .timeline ul li:nth-child(even)::after {
    transform: translate(50%, -50%);
    right: -70px;
  }
  .timelineContent .date {
    position: absolute;
    top: -30px;
  }
  .timeline ul li:nth-child(even) .date {
    right: 0;
  }
  .timeline ul li:nth-child(odd) .date {
    left: 0;
  }
}

@keyframes statusActive {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0px 0px 0px 3px hsla(126, 100%, 50%, 0.59);
  }
}
